.main {
  height: 100%;
  background-color: var(--bg_header_footer);
  padding: 15px 35px;
  border-radius: 20px;
  margin: 20px 0;
}
.main_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.change_btn_lang {
  margin: 0 auto;
}
.main_inner_btn_docs {
  margin-left: auto;
}
.inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
