.history {
  display: block;
  height: fit-content;
  background-color: var(--bg-btn);
  padding: 15px 35px;
  border-radius: 10px;
  margin: 20px 0;
  backdrop-filter: blur(10px);
}
.history_title {
  text-align: center;
  font-size: 20px;
}
