.history {
  display: block;
  height: fit-content;
  background-color: var(--bg-btn);
  padding: 15px 10px;
  border-radius: 10px;
  margin: 20px 0;
  backdrop-filter: blur(10px);
  max-height: 50vh;
  overflow-y: auto;
}
.history_title {
  text-align: center;
  font-size: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.list_item {
  background-color: var(--bg-popup);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_item_text,
.list_item_length {
  font-size: 18px;
}
.list_item_length {
  font-weight: 500;
}
